<div class="centered-wrapper">
    <h1>Todos os Perfis</h1>
    <br>
    <div>
        <% @profiles.each do |profile| %>
        <div>
            <h3><%= link_to profile.nome, controller: "profiles", action: "show", id: profile._id%></h3>
            <p><%= profile.descricao %></p>
        </div>
        <hr>
        <% end %>
    </div>
</div>