<div class="ui container centered">
    <h1>Todos os Perfis</h1>
    <br>
    <div>
        <% @profiles.each do |profile| %>
        <div class="item">
            <h3><%= link_to profile.nome, {controller: "profiles", action: "show", id: profile._id}, class: "header" %></h3>
            <div class="description">
                <p><%= profile.descricao %></p>
            </div>
        </div>
        <div class="ui section divider"></div>
        <% end %>
    </div>
</div>