@import "bootstrap-sprockets";
@import "bootstrap";

.pointer-header{
    font-size: large;
}

.centered-wrapper{
    width: 70%; 
    margin: auto;
    h1 {
        text-align: center;
    }
    .ranking_pessoal{
        text-align: center;
        font-size: medium;
    }

    .profile-sarch{
        .search-form{
            width: 100%;
            input {
                width: 100%;
            }
        }
        .search-result{
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}
